
.navbar {
    background-color: #333;
    overflow: hidden; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    padding: 10px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.navbar a {
    float: left; 
    display: block; 
    color: #f2f2f2; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s; 
}
.navbar a:hover {
    background-color: #575757; 
    color: white; 
}
.navbar a.active {
    background-color: #04AA6D; 
    color: white; 
    border-radius: 4px;
}
body {
    margin-top: 60px; 
}
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left; 
        padding: 14px;
    }
}
.speech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10;
    color:black;
}
.direction {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12;
    color: black;
    background-color: aqua;

}
.direction:hover{
    color: blueviolet;
    background-color: lightgray;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    color:black
}
.name:hover{
   text-shadow: 3px 3px 6px rgba(0, 20, 18, 0.518);
   border: 3px solid burlywood;
   padding: 2px;
   width: max-content;
}
.ANT{
    color:darkred;
}
.OED{
    color:darkmagenta;
}
.CHORUS{
    color: forestgreen;
}
.THE{
    color: darkslateblue;
}

table{
    border: 2px solid;
    border-collapse: collapse;
    box-sizing: content-box;
    text-align: initial;
    border-spacing: 3px;
    border-color: darkgoldenrod;
}
th{
    background-color: lightpink;
    color: black;
    padding: 6px;
    text-align: center;
}
td{
    border: 2px solid deepskyblue;
    color:black;
    text-align: center;
    padding: 6px;
}
